In [1]:
import panda as pd

ModuleNotFoundError: No module named 'panda'

In [3]:
import pandas as pd
import numpy as np

In [5]:
dates = pd.date_range('today', periods=6)
num_arr = np.random.randn(6,4)
columns=['A', 'B', 'C', 'D']

In [7]:
df = pd.DataFrame(num_arr, index=dates, columns=columns)

In [8]:
df

                                   A         B         C         D
2023-06-16 18:39:49.382819  0.363076  1.128063 -0.744854 -0.205942
2023-06-17 18:39:49.382819 -1.058710 -0.941086 -0.025636  0.278643
2023-06-18 18:39:49.382819 -0.344007 -1.215826  0.582276  0.248662
2023-06-19 18:39:49.382819  0.207472 -0.079724 -0.149074  1.836185
2023-06-20 18:39:49.382819 -2.213069  0.841088  2.501322 -0.380688
2023-06-21 18:39:49.382819 -1.521845  0.892857  1.333975 -1.074761

In [10]:
num_arr

array([[ 0.3630755 ,  1.12806318, -0.74485402, -0.20594154],
       [-1.0587097 , -0.94108634, -0.025636  ,  0.27864322],
       [-0.34400663, -1.21582607,  0.58227572,  0.24866243],
       [ 0.20747176, -0.07972404, -0.14907406,  1.83618458],
       [-2.21306866,  0.84108807,  2.50132213, -0.38068844],
       [-1.52184536,  0.89285665,  1.33397458, -1.07476065]])

In [12]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [13]:
df.head()

                                   A         B         C         D
2023-06-16 18:39:49.382819  0.363076  1.128063 -0.744854 -0.205942
2023-06-17 18:39:49.382819 -1.058710 -0.941086 -0.025636  0.278643
2023-06-18 18:39:49.382819 -0.344007 -1.215826  0.582276  0.248662
2023-06-19 18:39:49.382819  0.207472 -0.079724 -0.149074  1.836185
2023-06-20 18:39:49.382819 -2.213069  0.841088  2.501322 -0.380688

In [14]:


df.tail()

                                   A         B         C         D
2023-06-17 18:39:49.382819 -1.058710 -0.941086 -0.025636  0.278643
2023-06-18 18:39:49.382819 -0.344007 -1.215826  0.582276  0.248662
2023-06-19 18:39:49.382819  0.207472 -0.079724 -0.149074  1.836185
2023-06-20 18:39:49.382819 -2.213069  0.841088  2.501322 -0.380688
2023-06-21 18:39:49.382819 -1.521845  0.892857  1.333975 -1.074761

In [15]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [16]:
df.index

DatetimeIndex(['2023-06-16 18:39:49.382819', '2023-06-17 18:39:49.382819',
               '2023-06-18 18:39:49.382819', '2023-06-19 18:39:49.382819',
               '2023-06-20 18:39:49.382819', '2023-06-21 18:39:49.382819'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df.values

array([[ 0.3630755 ,  1.12806318, -0.74485402, -0.20594154],
       [-1.0587097 , -0.94108634, -0.025636  ,  0.27864322],
       [-0.34400663, -1.21582607,  0.58227572,  0.24866243],
       [ 0.20747176, -0.07972404, -0.14907406,  1.83618458],
       [-2.21306866,  0.84108807,  2.50132213, -0.38068844],
       [-1.52184536,  0.89285665,  1.33397458, -1.07476065]])

In [18]:
df.mean()

A   -0.761181
B    0.104229
C    0.583001
D    0.117017
dtype: float64

In [19]:
df1 = pd.read_csv('data.csv')

In [20]:
df1.head()

,filename,tempo,beats,chroma_stft,rmse,spectral_centroid,spectral_bandwidth,rolloff,zero_crossing_rate,mfcc1,...,mfcc12,mfcc13,mfcc14,mfcc15,mfcc16,mfcc17,mfcc18,mfcc19,mfcc20,label
0,blues.00081.au,103.359375,50,0.380260,0.248262,2116.942959,1956.611056,4196.107960,0.127272,-26.929785,...,14.336612,-13.821769,7.562789,-6.181372,0.330165,-6.829571,0.965922,-7.570825,2.918987,blues
1,blues.00022.au,95.703125,44,0.306451,0.113475,1156.070496,1497.668176,2170.053545,0.058613,-233.860772,...,-2.250578,3.959198,5.322555,0.812028,-1.107202,-4.556555,-2.436490,3.316913,-0.608485,blues
2,blues.00031.au,151.999081,75,0.253487,0.151571,1331.073970,1973.643437,2900.174130,0.042967,-221.802549,...,-13.037723,-12.652228,-1.821905,-7.260097,-6.660252,-14.682694,-11.719264,-11.025216,-13.387260,blues
3,blues.00012.au,184.570312,91,0.269320,0.119072,1361.045467,1567.804596,2739.625101,0.069124,-207.208080,...,-0.613248,0.384877,2.605128,-5.188924,-9.527455,-9.244394,-2.848274,-1.418707,-5.932607,blues
4,blues.00056.au,161.499023,74,0.391059,0.137728,1811.076084,2052.332563,3927.809582,0.075480,-145.434568,...,7.457218,-10.470444,-2.360483,-6.783623,2.671134,-4.760879,-0.949005,0.024832,-2.005315,blues